@model Reciclajejuego.AppMVC.Models.Juego

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntuacionFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntuacionFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModoJuego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModoJuego.ModoJuegoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JuegoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
