@model IEnumerable<Reciclajejuego.AppMVC.Models.Contenedor>

@{
    ViewData["Title"] = "Contenedores";
}

<div>
    <h2>Gestión de Contenedores</h2>

    <p>
        <a asp-action="Create">Crear Nuevo Contenedor</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoReciclaje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoReciclaje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>