@model Reciclajejuego.AppMVC.Models.Usuarios

@{
    ViewData["Title"] = "Detalles Usuario";
}



<div class="container mt-5">
    <div class="contenedor">

        <h2 class="titulo mb-4">👤 Detalles del Usuario</h2>

        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Correo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Correo)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Contrasena)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Contrasena)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MejoresPuntajes)
            </dt>
            <dd class="col-sm-8">
                <span class="badge-puntaje">
                    @Html.DisplayFor(model => model.MejoresPuntajes)
                </span>
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EsCuentaGoogle)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EsCuentaGoogle)
            </dd>
        </dl>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn-volver">⬅ Volver</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-verde">✏️ Editar</a>
        </div>

    </div>
</div>
