@model IEnumerable<Reciclajejuego.AppMVC.Models.ModoJuego>

@{
    ViewData["Title"] = "Lista de Modos de Juego";
}

<h1>Lista de Modos de Juego</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
