@model IEnumerable<Reciclajejuego.AppMVC.Models.Residuo>

@{
    ViewData["Title"] = "Residuos";
}

<div>
    <h2>Gestión de Residuos</h2>

    <p>
        <a asp-action="Create">Nuevo Residuo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.ImagenUrl)</th>
                <th>@Html.DisplayNameFor(model => model.Puntos)</th>
                <th>@Html.DisplayNameFor(model => model.Contenedor)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.ImagenUrl)</td>
                    <td>@Html.DisplayFor(modelItem => item.Puntos)</td>
                    <td>@Html.DisplayFor(modelItem => item.Contenedor.Id)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>